esp-servo-mqtt-control/esp-servo-mqtt-control/nodered/flow.json
[
  {
    "id": "tab_servo_1",
    "type": "tab",
    "label": "ESP Servo MQTT",
    "disabled": false,
    "info": ""
  },
  {
    "id": "broker_servo_1",
    "type": "mqtt-broker",
    "name": "Local MQTT Broker",
    "broker": "192.168.4.1",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "inject_esp32_wave",
    "type": "inject",
    "z": "tab_servo_1",
    "name": "ESP32 Wave",
    "props": [{"p": "payload"}],
    "payload": "wave",
    "payloadType": "str",
    "x": 140,
    "y": 80,
    "wires": [["mqtt_out_esp32"]]
  },
  {
    "id": "inject_esp8266_wave",
    "type": "inject",
    "z": "tab_servo_1",
    "name": "ESP8266 Wave",
    "props": [{"p": "payload"}],
    "payload": "wave",
    "payloadType": "str",
    "x": 150,
    "y": 140,
    "wires": [["mqtt_out_esp8266"]]
  },
  {
    "id": "mqtt_out_esp32",
    "type": "mqtt out",
    "z": "tab_servo_1",
    "name": "ESP32 CMD",
    "topic": "servo/esp32/cmd",
    "qos": "",
    "retain": "",
    "broker": "broker_servo_1",
    "x": 360,
    "y": 80,
    "wires": []
  },
  {
    "id": "mqtt_out_esp8266",
    "type": "mqtt out",
    "z": "tab_servo_1",
    "name": "ESP8266 CMD",
    "topic": "servo/esp8266/cmd",
    "qos": "",
    "retain": "",
    "broker": "broker_servo_1",
    "x": 370,
    "y": 140,
    "wires": []
  },
  {
    "id": "mqtt_in_esp32",
    "type": "mqtt in",
    "z": "tab_servo_1",
    "name": "ESP32 RESP",
    "topic": "servo/esp32/response",
    "qos": "0",
    "datatype": "auto",
    "broker": "broker_servo_1",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 140,
    "y": 240,
    "wires": [["debug_esp32"]]
  },
  {
    "id": "mqtt_in_esp8266",
    "type": "mqtt in",
    "z": "tab_servo_1",
    "name": "ESP8266 RESP",
    "topic": "servo/esp8266/response",
    "qos": "0",
    "datatype": "auto",
    "broker": "broker_servo_1",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 150,
    "y": 300,
    "wires": [["debug_esp8266"]]
  },
  {
    "id": "debug_esp32",
    "type": "debug",
    "z": "tab_servo_1",
    "name": "ESP32 Response",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 380,
    "y": 240,
    "wires": []
  },
  {
    "id": "debug_esp8266",
    "type": "debug",
    "z": "tab_servo_1",
    "name": "ESP8266 Response",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 390,
    "y": 300,
    "wires": []
  }
]