ur-mqtt-control/ur-mqtt-control/nodered/flow.json
[
  {
    "id": "tab_ur_mqtt",
    "type": "tab",
    "label": "UR MQTT Control",
    "disabled": false,
    "info": "Simple Node-RED dashboard flow for sending a wave command to a UR robot over MQTT."
  },
  {
    "id": "mqtt_broker_ur",
    "type": "mqtt-broker",
    "name": "Local Mosquitto",
    "broker": "192.168.4.1",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": ""
  },
  {
    "id": "ui_tab_ur",
    "type": "ui_tab",
    "name": "Robot Control",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_group_ur",
    "type": "ui_group",
    "name": "UR Controls",
    "tab": "ui_tab_ur",
    "order": 1,
    "disp": true,
    "width": "8",
    "collapse": false,
    "className": ""
  },
  {
    "id": "btn_wave",
    "type": "ui_button",
    "z": "tab_ur_mqtt",
    "name": "Wave Button",
    "group": "ui_group_ur",
    "order": 1,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "Wave",
    "tooltip": "Send the wave command",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "play_arrow",
    "payload": "wave",
    "payloadType": "str",
    "topic": "",
    "topicType": "msg",
    "x": 180,
    "y": 120,
    "wires": [["mqtt_out_cmd"]]
  },
  {
    "id": "mqtt_out_cmd",
    "type": "mqtt out",
    "z": "tab_ur_mqtt",
    "name": "Publish UR Command",
    "topic": "robot/ur/cmd",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker_ur",
    "x": 460,
    "y": 120,
    "wires": []
  },
  {
    "id": "mqtt_in_status",
    "type": "mqtt in",
    "z": "tab_ur_mqtt",
    "name": "Subscribe UR Status",
    "topic": "robot/ur/response",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "mqtt_broker_ur",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 190,
    "y": 220,
    "wires": [["ui_text_status", "debug_status"]]
  },
  {
    "id": "ui_text_status",
    "type": "ui_text",
    "z": "tab_ur_mqtt",
    "group": "ui_group_ur",
    "order": 2,
    "width": 8,
    "height": 1,
    "name": "UR Status Text",
    "label": "Status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "",
    "x": 470,
    "y": 200,
    "wires": []
  },
  {
    "id": "debug_status",
    "type": "debug",
    "z": "tab_ur_mqtt",
    "name": "UR Status Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 470,
    "y": 260,
    "wires": []
  }
]
